*{
	margin: 0;
	padding: 0;
}
.body{
	background-color: #EEE;
	font-family: 'Roboto', sans-serif;
}
.container{
	max-width: 1000px;
	background-color: #E4F9F5;
	margin: 0 auto;
	padding: 20px;
}
.header{

}
.profile{
	width: 110px;
	height: 120px;
	border: 3px solid whitesmoke;
	border-radius: 50%;
	float: left;
	padding: 10px;
}
.bio{
	float: left;
	padding: 30px;
}
h1,h3,h4,h5,h6{
	color: #11999e;
}
.contact{
	float: right;
	padding: 30px;
}
.contact a{
	text-decoration: none;
	color: teal;
	font-weight: bold;
}
.contact a:hover{
	text-decoration: underline;
	color: tomato;
}
.clear-div{
	clear: both;
}
.hr{
	border: solid black 2px;
	width: 100%;
	margin: 20px auto;
	border-bottom: none;
}
#personal-section{

}
.content{
	margin-bottom: 30px;
}
.left{
	width: 30%;
	float: left;
}
.right{
	width: 70%;
	float: left;
}
.common-hr{
	border: solid blacl 1px;
	border-bottom: none;
	width: 100%;
	margin: 20px auto;
}
.edu-left{
	float: left;
	width: 45%;	
}
.edu-right{
	float: right;
	width: 45%;
}
.btm-container{
	background-color: black;
	text-align: center;
	padding: 10px;
}
.btm-container a{
	color: white;
	text-decoration: none;
	margin: 20px;
}
.btm-container p{
	color: white;
	margin-top: 20px;
}